{% extends "base.html" %}

{% block content %}

<h1>New Blog Entry</h1>
    <form action="/newpost", method='post'>
        <label>Title:
            <br>
            <input type="text" name='posttitle' value="{{posttitle}}">
        </label>
        <p class="error">{{title_error}}</p>
        <br>
        <label>Post Body:<br>
            <textarea name='postbody' style="width:666px; height: 333px;">{{postbody}}</textarea>
        </label>
        <p class="error">{{body_error}}</p>
        <br>
        <input type="submit" value='Add Entry' />
    </form>

{% endblock %}